#player {
    width: 50%;
    margin: auto;
    vertical-align: middle
}

.player__video {
        display: block;
        width: 100%;
    }

    .player__controls {
        display: flex;
        padding: 20px;
        background-color: black;
    }

        .player__play {
            width: 20px;
            height: 20px;
            position: relative;
            cursor: pointer;
        }

        .player__play:not(.pause):after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 20px;
            border-color: transparent transparent transparent cadetblue;

            position: absolute;
            top: 0;
            left: 0;
        }

        .player__play.pause:before,
        .player__play.pause:after {
            content: "";
            width: 8px;
            height: 20px;
            background-color: #5a496d;

            position: absolute;
            top: 0;
            left: 0;
        }

        .player__play.pause:after {
            left: auto;
            right: 0;
        }

        .player__time {
            padding-left: 20px;

            line-height: 1.3;
            white-space: nowrap;
            color: #9be6cc;
        }

        .player__timeline {
            flex-basis: 80%;
            padding-left: 20px;
        }

            .player__timeline input {
                width: 100%;
            }

        .player__volume {
            padding-left: 20px;
        }

            .player__volume input {
                width: 100%;
            }